{% extends 'bookclub/base_bookclub.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}<h1>Book | {{ book.title }}</h1>{% endblock %}

{% block content %}
    <h3><a href="{% url 'bookclub:book_list' %}">Go back to Bookclub</a></h3>
    <h2>Genre: {{ book.genre.name }}</h2>
    <ul>
        <li>Author: {{ book.author }}</li>
        <li>Publication year: {{ book.publication_year}}</li>
        <li>Created: {{ book.created_on|date:"Y-m-d"}}</li>
        <li>Available to Borrow: {{ book.borrow_availability}}</li>
        <li>Last updated: {{ book.updated_on|date:"Y-m-d"}}</li>
        <li>Last updated: {{ book.updated_on|date:"Y-m-d"}}</li>

    </ul>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="toggle_bookmark" class="btn">
                {% if is_bookmarked %}
                    Un-Bookmark
                {% else %}
                    Bookmark
                {% endif %}
            </button>
        </form>

        <form method="POST">
            {% csrf_token %}
            <textarea name="review_content" placeholder="Write your review..."></textarea>
            <button type="submit" name="action" value="submit_review">Post Review</button>
        </form>

    <h2>REVIEWS</h2>

    Your Review:
    <h2> Profile: {{ reviewer }}</h2>
    <div> {{ review }}</div>



    <a href="{% url 'bookclub:book_borrow' pk=book.pk %}">
                <button type="button">Borrow Book</button>
    </a>  <br>


{% endblock %}

