{% extends 'bookclub/base_bookclub.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}
{% block header %}<h1>Book | {{ book.title }}</h1>{% endblock %}

{% block content %}
    <h3><a href="{% url 'bookclub:book_list' %}">Go back to Bookclub</a></h3>
    <h2>Genre: {{ book.genre.name }}</h2>
    <ul>
        <li>Author: {{ book.author }}</li>
        <li>Publication year: {{ book.publication_year}}</li>
        <li>Created: {{ book.created_on|date:"Y-m-d"}}</li>
        <li>Last updated: {{ book.updated_on|date:"Y-m-d"}}</li>
    </ul>
{% endblock %}

