{% extends "base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h2>Your Products</h2>
    {% if user.is_authenticated %}
        <ul>
            {% for product in user_products %}
                <li>{{ product.name }} - {{ product.get_status_display }}</li>
            {% empty %}
                <li>No products yet.</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>All Products</h2>
    <ul>
        {% for product in all_products %}
            <li>{{ product.name }} - {{ product.get_status_display }}</li>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>

    <p><a href="{{ create_product_url }}">Create a new product!</a></p>
{% endblock %}
