<h2>{{ product.name }}</h2>
<p>Status: {{ product.get_status_display }}</p>
<p>Stock: {{ product.stock }}</p>

{% if edit_url %}
    <p><a href="{{ edit_url }}">Product Edit</a></p>
{% endif %}

{% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" 
                {% if product.stock == 0 %}disabled{% endif %}>
            Buy
        </button>
    </form>
{% else %}
    <p>Sorry,but you can't purchase your own product...</p>
{% endif %}
