{% extends 'localevents/base_localevents.html' %}

{% block title %}{{ event.title }}{% endblock %}
{% block header %}<h1>Event | {{ event.title }}</h1>{% endblock %}

{% block content %}
    <h2>Category: {{ event.category.name }}</h2>
    - Description: {{ event.description }}
    - Location: {{ event.location }}
    - Start time: {{ event.start_time|date:"Y-m-d"}}
    - End time: {{ event.end_time|date:"Y-m-d"}}
    - Created: {{ event.created_on|date:"Y-m-d"}}
    - Last updated: {{ event.updated_on|date:"Y-m-d"}}
{% endblock %}