{% extends 'localevents/base_localevents.html' %}

{% block title %}{{ event.title }}{% endblock %}
{% block header %}<h1>Event | {{ event.title }}</h1>{% endblock %}

{% block content %}
    <h3><a href="{% url 'localevents:event_list' %}">Go back to Events</a></h3>
    <h2>Category: {{ event.category.name }}</h2>
    <h2>Organizer: {{ event.organizer.name }}</h2>
    <h2>Image: <br><img src="{{ event.event_image.url }}" height="500px"></h2>
    <ul>
        <li>Description: {{ event.description }}</li>
        <li>Location: {{ event.location }}</li> 
        <li>Start time: {{ event.start_time|date:"Y-m-d"}}</li>
        <li>End time: {{ event.end_time|date:"Y-m-d"}}</li>
        <li>Capacity: {{ event.event_capacity }}</li>
        <li>Status: {{ event.status }}</li>
        <li>Created: {{ event.created_on|date:"Y-m-d"}}</li>
        <li>Last updated: {{ event.updated_on|date:"Y-m-d"}}</li>
    </ul>
    <br>
    {% if user.is_authenticated %}
        {% if user.profile == event.organizer %}
            <h3><a href="{% url 'localevents:event_update' pk=event.pk %}">Update</a></h3>
        {% else %}
            {% if event.event_capacity > current_signups %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!--<input type="submit" value="Submit" name="registered_user_signup">-->
                    <button type="submit" name="registered_user_signup">Submit</button>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        {% if event.event_capacity > current_signups %}
            <h3><a href="{% url 'localevents:event_signup' pk=event.pk %}">Sign up</a></h3>
        {% endif %}
    {% endif %}
{% endblock %}