{% extends 'localevents/base_localevents.html' %}

{% block title %}{{ event.title }}{% endblock %}
{% block header %}<h1>Event | {{ event.title }}</h1>{% endblock %}

{% block content %}
    <h3><a href="{% url 'localevents:event_list' %}">Go back to Events</a></h3>
    <h2>Category: {{ event.category.name }}</h2>
    <ul>
        <li>Description: {{ event.description }}</li>
        <li>Location: {{ event.location }}</li> 
        <li>Start time: {{ event.start_time|date:"Y-m-d"}}</li>
        <li>End time: {{ event.end_time|date:"Y-m-d"}}</li>
        <li>Created: {{ event.created_on|date:"Y-m-d"}}</li>
        <li>Last updated: {{ event.updated_on|date:"Y-m-d"}}</li>
    </ul>

{% endblock %}